MYSQL_ROOT_PASSWORD=troque_esta_senha_root
MYSQL_ALLOW_EMPTY_PASSWORD=no
MYSQL_RANDOM_ROOT_PASSWORD=no

MYSQL_USER=hospital_user
MYSQL_PASSWORD=troque_esta_senha
MYSQL_DATABASE=hospital_db
MYSQL_HOST=hospital_mysql
MYSQL_PORT=3306

SQL_ECHO=false
